extends layout

block content  
  .jumbotron
    img.jumbo(alt='HAL' src='/images/hal.png')
    p#welcome-text HAL - The Home ALarm System
    p#welcome-text Welcomes you...
    p#welcome-btn
      a.btn.btn-danger.btn-lg(href='javascript:void(0)', role='button') View
  
