doctype html
html
  head
    title= title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='http://localhost:3000/favicon.ico')
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    
          
  body
    // START OF BACKGROUND -------------------------------
    #bg
      img(alt="background" src="/images/background.jpg")
      
    // END OF BACKGROUND ---------------------------------
    
    // START OF NAVBAR --------------------------------
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container-fluid
        // Container for the brand logo
        a.navbar-left.navbar-brand(href='#')
          img#brand-logo(alt='HAL' src='/images/hal.png')
        .project-name.navbar-nav.navbar-left
            span HAL
        // Container for the left and right portions of the navbar
        ul.nav.navbar-nav.navbar-right
          li
            a(href='http://localhost:3000') Home
          li.active
            a(href='#') About HAL
          //- li
          //-   a(href='#') Sign In
            
    // END OF NAVBAR-----------------------------------
    
    // Set up a socket and socket events
    script.
      var socket = io('http://localhost:3000/');
      //- socket.on("streamVideo", function(data){
      //- });
      
      $(document).ready(function(){
        
        $(".jumbotron").hide().fadeIn(2500);
        $(document).on("keydown", function(event){
          event.preventDefault();
          socket.emit("keyCodePress", event.keyCode);
        });
        
        $('.btn-danger').on('click', function(){
          $(".jumbotron").fadeOut(1000, function(){
            window.location.pathname = "/hal/video";
          });
          //- $(".jumbotron").addClass("fadedOut");
          //- setTimeout(function(){
          //- }, 1000);
        });
      });
    // END OF SOCKET Setup
    
    // START OF MAIN BODY
    .main-content-container
      block content
    // END OF MAIN BODY -------------------------------------- 

    // START OF FOOTER ----------------------------------------
    #footer
      .footer-container
        a(href='https://github.com/al-0989/hal---final-project')
          i.fa.fa-2x.fa-github
        a(href='https://ca.linkedin.com/in/anngocla')
          i.fa.fa-2x.fa-linkedin
        a(href='https://twitter.com/al_89')
          i.fa.fa-2x.fa-twitter
          
    
