extends ../layout

block content
  script.
    $(".main-content-container").html("<div class=video-container></div>");
    $(".video-container").hide().fadeIn(2000);
  // Script to initiate opening the socket.
  //- script.
  //-   alert("Boom A video!");
  //-   var socket = io('http://localhost:3000/hal/video');
  //-   console.log(socket);
  //-   $('.btn-danger').on('click', function(){
  //-     alert("inside click");
  //-     
  //-   });
  //- socket.emit('chat message', $('#m').val());
  //- $('#m').val('');
  //- return false;
  //- });
  //- socket.on('chat message', function(msg){
  //- $('#messages').append($('<li>').text(msg))
  
