extends ../layout

block content
  script.
    $(".main-content-container").html("<div class='video-container well'></div>");
    $(".video-container").hide()
    // Create the video tag inside the video container to show stream  
    //- $(".video-container").html("<video id='video' autoplay></video>");
    // Add the source for the video. Serve static for test.
    //- $("#video").html("<source src='/images/sample.mp4' type='video/mp4'> Your browser does not support the video tag.</source>")
    // Send message to the server to say ready for video
    socket.emit("connectionReady", "Client side connection connection established! I'm ready for a video!");
    
    socket.on('streamVideo', function(data){
      $(".video-container").html("<iframe id='video' src=" + data + ">")
      $(".video-container").append("<a href='javascript:void(0)' role='button' class='btn btn-danger btn-lg terminate'>Terminate</a>")
      $(".video-container").append("<audio class='mr-roboto' autoplay><source src='/images/music.mp3' type='audio/mpeg'> Your browser does not support the audio element.</audio>")
      setTimeout(function(){
        $("audio").animate({volume: 0}, 5000);
      }, 45000);
    });
    
    $(".video-container").fadeIn(2500, function(){
      $("#footer").show();
    });
    
    $(document).on("click", ".terminate", function(){
      $(".video-container").append("<audio autoplay><source src='/images/afraid.mp3' type='audio/mpeg'> Your browser does not support the audio element.</audio>")
    });
      //- ss(socket).emit("connectionReady", stream);
      //- stream.pipe(fs.createWriteStream("Client side connection connection established! I'm ready for a video!"));
      
      //- ss(socket).on('streamVideo', function(strm){
      //-   fs.createReadStream(filename).pipe(strm);
      //- });
