extends ../layout

block content
  script.
    var stream = ss.createStream();
    
    $(".main-content-container").html("<div class='video-container well'></div><div class='picture'></div>");
    $(".video-container").hide()
    // Create the video tag inside the video container to show stream  
    $(".video-container").html("<video id='video' autoplay></video>");
    // Add the source for the video. Serve static for test.
    $("#video").html("<source src='/images/sample.mp4' type='video/mp4'> Your browser does not support the video tag.</source>")
    $(".video-container").fadeIn(4000, function(){
      // Send message to the server to say ready for video
      socket.emit("connectionReady", "Client side connection connection established! I'm ready for a video!");
      
      socket.on('streamVideo', function(data){
        $(".picture").html("<iframe src=" + data + ">")
      });
      //- ss(socket).emit("connectionReady", stream);
      //- stream.pipe(fs.createWriteStream("Client side connection connection established! I'm ready for a video!"));
      
      //- ss(socket).on('streamVideo', function(strm){
      //-   fs.createReadStream(filename).pipe(strm);
      //- });
    });
